In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Advertising.csv')

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('sales', axis=1)

In [5]:
y = df['sales']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()

In [29]:
scaler.fit(X_train)

StandardScaler()

In [30]:
X_train = scaler.transform(X_train)

In [31]:
X_test = scaler.transform(X_test)

In [32]:
from sklearn.model_selection import cross_validate

In [33]:
from sklearn.linear_model import Ridge

In [41]:
model = Ridge(alpha=1)

In [50]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [51]:
scores = pd.DataFrame(scores)

In [52]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001002,0.001001,-2.962508,-1.457174
1,0.000999,0.000000,-3.057378,-1.555308
2,0.000999,0.000000,-2.173740,-1.238770
3,0.001000,0.000000,-0.833034,-0.768938
4,0.001000,0.000000,-3.464018,-1.434489
5,0.001000,0.000000,-8.232647,-1.494316
6,0.001000,0.000000,-1.905864,-1.081362
7,0.000999,0.000000,-2.765048,-1.250011
8,0.001001,0.000000,-4.989505,-1.580971
9,0.001000,0.000000,-2.846438,-1.223326

In [53]:
scores.mean()

fit_time                        0.001000
score_time                      0.000100
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [54]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [55]:
y_final_pred = model.predict(X_test)

In [57]:
from sklearn.metrics import mean_squared_error

In [58]:
mean_squared_error(y_test, y_final_pred)

2.3190215794287514